/config/nvim.old
/config/lazygit/state.yml
/config/ncmpcpp/error.log
/bin/vscode-json-language-server
/bin/vscode-eslint-language-server
/bin/vscode-html-language-server
/bin/vscode-css-language-server
